@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Quattrocento:wght@400;700&display=swap');
/* BODY */
body {
    margin: 0;
    background-color: #000;
    color: white;
}
/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.navbar-left {
    padding-left: 20px;
}
.navbar-right {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
}
.a-ele {    
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-emphasis-color: red;
}
.home {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 85vh;
}
.home-left {
    width: 50vw;
}
.home-right {
    width: 50vw;
    padding: 50px;
}
.nav-h {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
}
.home-p1 {
    text-align: right;
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
}
.contact {
    text-align: center;
    color: goldenrod;
    margin-top: 50px;
}
.contact-info {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-container {
    text-align: center;
    margin-top: 20px;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg--colour);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3rem ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}


/* EDUCATION */

.education{
    background-color: black;
}
.time-line{
    width: 1000px;
    margin: 100px auto;
    position: relative;
}
.time-line::after{
    content: '';
    position: absolute;
    right: 50%;
    height: 100%;
    width: 5px;
    background: linear-gradient(#0ef,#0ef);
    top: 0;
    border-radius: 50%;
    animation: LineAnimated 5s linear forwards;
}
@keyframes LineAnimated{
    0%{
        height: 0;
    }
    100%{
        height: 100%
    }
}
.container{
    width: 47%;
    position: relative;
    padding: 10px 10px;
    animation: Animate-Container 1s linear forwards;
    opacity: 0;
    animation-delay: var(--dly)
}
@keyframes Animate-Container{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(even){
    right: -50%;
}
.container:nth-child(even)::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#0ef,#0ef);
    top: 0;
    left: -12px;
    border-radius: 50px;
    z-index: 10;
}
.container:nth-child(odd)::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#0ef,#0ef);
    top: 0;
    right: -18px;
    border-radius: 25px;
    z-index: 10;
}
.text-content{
    padding: 20px 30px;
    background: whitesmoke;
    border-radius: 13px;
    box-shadow: 0 5px 10px #fff;
    
}
.text-content h2{
    font-size: 25px;
    color: #000;

}
.text-content p{
    font-size: 13px;
    margin-top: 10px;
    color: #000;
}



/* PROJECTS */
.card{
    background-color: white;
    width: 18rem;
    border: 2px solid #ccc; /* Border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    margin: 0 auto; /* Center the card */
    margin-top: 20px; /* Add some space at the top */
}
.card-body {
    padding: 20px; 
    color: #000;
}
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center cards horizontally */
    gap: -20px; /* Add space between cards */
}


/* skills */
.subtitle {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 70px;
}

.subtitle span {
    color: rgb(100, 224, 100);
}

.sec {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
}

.container1 {
    display: flex;
}

.skills-group {
    flex: 1;
    
    padding-right: 300px; /* Adjust margin between groups */
}

.bar {
    font-size: 23px;
    margin-bottom: 10px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: #fff;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100px;
    height: 5px;
    background-color: #ccc;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.technical-bars .bar .progress-line span {
    height: 5px;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.js span {
    width: 75%;
}

@keyframes showText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animate {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #ccc;
    color: black; /* Change the text color to white */
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    z-index: 1; /* Ensure the text appears above the progress bar */
}

.progress-line span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: white;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    z-index: 1; /* Ensure the text appears above the progress bar */
}
